.login-bar {
	position: absolute;
	right: 110px;
	top: 175px;
}

.btn-box
{
	padding: 10%;
	padding-top: 5%;
	text-align: center;
	background-color: #f8f5d6;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
	border-radius: 7px;
	width: 300px;
	height: 220px;
}