@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');


.button-right
{	
	position: relative;
    left: 7%;
    right: 7%;
    /* background-color: #f4f2c9; */
    background-color: #8380825d;
	border: 2px;
	border-width: 5px;
	color: #000000;
	text-align: center;
	font-size: 20px;
    font-weight: 500;
	font-family: Montserrat, sans-serif;
    padding: 7%;
    /* padding-left: 5%; */
    /* width: 200px; */
    width: 100%;
    height: 20%;
	transition: all 0.5s;
	cursor: pointer;
	margin: 15px;
	float: right;
	display: block;
}

.button-right:hover {
	opacity:1;
	color: #000000;
	background: #ebacf3b9;
}