html {
	overflow-y: scroll;
}

.Collapsible
{
	
	background-color: #606060;
	margin: auto;
	
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .5%;
	padding-bottom: .5%;
	
	width: 90%;
		
}

.Collapsible__trigger {
	
	background-color: grey;
	border: 2px solid white;
	display: block;
	
	color: white;
	font-weight: 500;
	font-family: Helvetica;
	text-align: center;
	
	margin: auto;
	
	padding-top: 15px;
	padding-bottom: 15px;
	
	width: 100%;

 }
 
 .Collapsible__contentOuter
 {
	 
	  margin: auto;
	  width: 100%;
	  
 }
 
 .Collapsible__contentInner {
	 
	margin: auto;
	
	padding-left: 2%;
	padding-right:2%;
	
}